page-review {
    .bg{
        background: linear-gradient(to bottom, #abb0b6,#2f2f31);
        align-items: center;
        text-align: center;
    }

    .item{
        background-color: transparent;
    }

    .btn{
        font-size: 15px;
         color: white;
         font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
     }
}
