page-signup {
    .bg{
        background: linear-gradient(to bottom, #abb0b6,#2f2f31);
        align-items: center;
        text-align: center;
    }
    .item{
        background-color: transparent;
    }

}
